.box {
  /* width: 670px; */
  padding: 28px 53px;
  gap: 10px;
  background-color: #f0f0f0;
}
.box h3 {
  color: var(--mainDark);
  font-family: var(--fontInter);
  font-size: 30px;
  font-weight: 700;
  line-height: 33px; /* 33px */
  margin: 0;
}
.box p {
  color: var(--mainDarkGray);
  font-family: var(--fontParagraph);
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  text-transform: capitalize;
}
