.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
.box__Results {
  background-color: #2c323a;
  cursor: pointer;
}
.results__name-exe {
  margin: 15px 0;
  color: var(--mainGreen);
}
.box__Results p {
  margin: 0 0 7px 0;
  font-family: var(--fonInter);
  font-weight: 500;
}
.results a {
  text-decoration: none;
}
