.card__box h4 {
  font-family: var(--fontInter);
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;

  color: var(--mainDark);
}
.card__box p {
  font-family: var(--fonParagraph);
  font-size: 22px;
  font-weight: 500;
  line-height: 31.9px;
  color: var(--mainDarkGray);
  text-transform: capitalize;
}
.card__box a {
  font-family: var(--fontParagraph);
  font-size: 22px;
  font-weight: 600;
  color: var(--mainBlue);
}
@media screen and (max-width: 991px) {
  .card__box h4 {
    font-size: 20px;

    line-height: 20px;
  }
  .card__box p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24.9px;
  }
  .card__box a{
    font-size: 20px;
  }
}
